<header>
	<div class="ui menu black inverted segment">
		<div class="ui container">
			<%= link_to root_path, class: 'item'  do %>
            <i class="home icon"></i>
            Home
            <% end %>

			<div class="right menu">
				<%= link_to "Entrar", new_user_session_path, :class => 'ui item'  %>
			</div>
		</div>
	</div>
</header>