<header>
	<div class="ui menu black inverted segment">
		<div class="ui container">
			<a class="item">
				<i class="home icon"></i>
				Home
			</a>

			<div class="right menu">
				<%= link_to "Entrar", new_user_session_path, :class => 'ui item'  %>
			</div>
		</div>
	</div>
</header>