<div class="ui grid centered">
  <div class="ten wide column">
    <br>
    <h1>Novo Ticket</h1>

    <%= render 'form' %>

    <div class="ui compact menu">
      <%= link_to '<i class="arrow left icon"></i> voltar'.html_safe, tickets_path, class: 'item' %>
    </div>
  </div>
</div>

