<hr class="ui dividing">
<div class="comment">
  <!--<a class="avatar">
    <img src="/images/avatar/small/matt.jpg">
  </a>-->
  <div class="content">
    <!--<a class="author"></a>-->
    <div class="metadata">
      <span class="date"><%= conversation.created_at%></span>
    </div>
    <div class="text">
      <%= conversation.content %>
    </div>
    <div class="actions">
      <!--<a class="reply">Reply</a>-->
    </div>
  </div>
</div>
